.sub-container{
    border: 5px solid #5995fd;
    width: 500px;
    margin: 100px;
    border-radius: 20px;
}

.card{ 
    border-radius: 20px;
}

.video{
    height: 380px;
    border: 1px solid black;
    width: auto;
    background-color: black;
    border-radius: 20px;
}

.video p{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 33%;
}

.card-img-top{
    width: auto;
    height: 335px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    position: relative;
    margin: 0;

}

.video i {
    font-size: 1.8em;
    color: white;
    margin: 8px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.card-body{ 
    text-align: center; 
}

.face-icon{

    padding: 4px;
    width: auto;
    height: 50px;

}
.face-icon i {
    font-size: 2.5em;
    color: #cc7722;
    margin: 15px;

}

.card-body input{
    height: auto;
    width: 200px;
    margin-top: 20px;
}

/* #btn-play{
    position: absolute;
    justify-content: center;

} */
