{% extends 'base.html' %}

{% block custom_css %}
{% load static %}

{% endblock %}

<!-- Main Content -->

{% block content %}

<div class="container">
    <h1>Emotion Prediction</h1>
    
    <!-- Display webcam feed -->
    <video id="webcam-feed" autoplay></video>
    
    <!-- Capture button -->
    <button id="capture-button">Capture</button>

    <!-- Hidden form to submit captured image -->
    <form method="post" enctype="multipart/form-data" action="{% url 'predict' %}">
        {% csrf_token %}
        <input type="hidden" name="captured_image" id="captured-image">
        <input type="submit" value="Predict Emotion">
    </form>

 
</div>

<script>
    // static/js/webcam.js
    const video = document.getElementById('webcam-feed');
    const captureButton = document.getElementById('capture-button');
    const capturedImageInput = document.getElementById('captured-image');

    // Access the webcam and display the feed
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
            video.srcObject = stream;
        })
        .catch(function (error) {
            console.error('Error accessing webcam:', error);
        });

    // Capture an image from the webcam and set it as the value of the hidden input
    captureButton.addEventListener('click', function () {
        const canvas = document.createElement('canvas');
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
        capturedImageInput.value = canvas.toDataURL('image/jpeg');
    });

</script>


{% endblock %}