{% extends 'public/index.html'%}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/camera.css' %}">
<link rel="stylesheet" href="{% static 'css/public/main.css' %}">
{% endblock %}
    
{% block content %}

    <div class="forms-container">
        <div class="signin-signup">
            <div class="sub-container">
                <div class="card m-4" style="width:28rem;height:34rem;">

                    <div class="video">
                        <p>Camera is off</p>
                        <video class="card-img-top" id="webcam-feed" autoplay></video>
                        <i class="fa-solid fa-video-slash"></i>
                    </div>
                    
    
                    <div class="card-body">
                        <div class="face-icon">
                            <i class="fa-solid fa-face-smile fa-2xl" style="color: #ed8e07;"></i>
                            <i class="fa-solid fa-face-sad-tear fa-2xl" style="color: #ed8e07;"></i>
                            <i class="fa-solid fa-face-angry fa-2xl" style="color: #ed8e07;"></i>
                            <i class="fa-solid fa-face-meh-blank fa-2xl" style="color: #ed8e07;"></i>
                        </div>
                       
    
                        <form method="post" enctype="multipart/form-data" >
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary" value="Predict Emotion" id="capture-button">
                            <input type="hidden" name="captured_image" id="captured-image">
                        </form>
    
                    </div>
                    <div>
                        <label>{{ error }}</label>
                    </div>
                </div>
            </div>    
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Let's See Emotion ?</h3>
                <p> "The song's melody radiates joy, uplifting spirits and inspiring positive emotions with its harmonious and enchanting composition."</p>   
            </div>
            {% load static%}
            <img src="{% static 'images/face.svg'%}" class="image" alt="" />
        </div>
    </div>
    
{% endblock %}

{% block script %}
    <script src="{% static 'js/camera.js'%}"></script>
{% endblock %}
    
