{% extends 'public/index.html'%}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'home.css'%}">
{% endblock %}

{% block content %}
    <!-- <h4> Welcome {{user.username}}</h4>
    <form action="{% url 'login' %}">
        <input type="submit" value="Logout">
    </form> -->

    <div class="top-bar">
        <i class="fa-solid fa-chevron-down"></i>
        <span>Now Playing</span>
        <i class="fa-solid fa-ellipsis"></i>
    </div>
    <div class="img-area">
        <img src="image.jpg" alt="">
    </div>
    <div class="song-details">
        <p class="name"></p>
        <p class="artist"></p>
    </div>
    <div class="progress-area">
        <div class="progress-bar"></div>
        <div class="timer">
            <span class="current">0:00</span>
            <span class="duration">3:40</span>
        </div>
        <audio id="main-audio"></audio>
    </div>
    <div class="controls">
        <i id= "repeat-plist" class="fa-solid fa-repeat"></i>
        <i id = "prev" class="fa-sharp fa-solid fa-backward-step"></i>
        <div class="play-pause">
            <i class="fa-sharp fa-solid fa-play"></i>
        </div> 
        <i id="next" class="fa-solid fa-forward-step"></i>
        <i id = "more-music" class="fa-solid fa-list"></i> 
    </div>



    <div class="music-list">
        <div class="header">
            <div class="row">
                <i id = "more-music" class="fa-solid fa-list"></i> 
                <span>Music List</span>
            </div>
            <i id="close" class="fa-solid fa-xmark"></i>
        </div>
        <ul> </ul> 
    </div>  


{% endblock %}


{% block script %}
    <script src="{% static 'js/songList.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script> 
{% endblock %}


         
